.contact{
    height: 400px;
    width: 1340px;
    position: relative;
    bottom: 200px;
    width: 100%;
    height: 100%;
}
.contact img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    opacity: 0.3;
    border-radius: 10px;
    position: absolute;
}
.contact h1{
    position: relative;
    top: 120px;
    left: 580px;
    font-size: xxx-large;
    color: white;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width:500px;
    position: relative;
    left: 460px;
    top:-120px;
    border:none;
    background-color:rgba(239, 230, 230, 0); 
}
.contact-menu{
    position: relative;
    right: 300px;
    top: 300px;
    left: 50px;
    font-size: larger;
    color: antiquewhite;
    gap: 10px;
    display: flex;
    align-items: center;
}
.contact-menu h3{
    position: relative;
    bottom: 100px;
}
.contact-menu p{
    position: relative;
    top: -50px;
    right: 250px;
}
.contact-menu span{
    color:gold;
    position: relative;
    right: 470px;
}
.contact-contains{
    position: relative;
    bottom: -120px;
    height: 80%;
    width: 100%;
    text-align: center;
    color: aliceblue;
}
.contact-contains h2{
    position: relative;
    font-size: 22px;
    top:-15px;
    font-weight:bolder;
}
.contact-contains .issued select{
    font-size: large;
    margin-left: -80px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    font-weight: 500;
}
select option {
   color:orangered;
    font-weight: 550;

}
.contact-contains .issued select{
    font-size: larger;
    border: none;
    width: 400px;
    height: 30px;
    margin-left: -10px;
}
.contact-contains .u-name{
    margin:10px;
    font-size: 20px;
}
.contact-contains .e-mail{
    margin: 10px;
    font-size: 20px;
}

.contact-contains .c-msg{
    margin:10px;
    position: relative;
    top:10px;
    font-size: x-large;
    left: 15px;
}
.c-msg textarea{
    margin-right: 50px;
    height: 50px;
}

.contact-contains input,textarea{
    font-size: 19px;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
    width: 400px;
}
.contact-contains label{
    padding: 10px;
    font-size: 20px;
    position: relative;
    right: 170px;
}
button{
    height: 50px;
    width: 50%;
    margin-top: 20px;
    margin-right: -10px;
    background-color: yellowgreen;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: larger;
    font-weight: 550;
}